// Navigation code here
.navbar {
  .flex(flex, space-evenly, center);
  flex-direction: column;
  border: @sea-shell;
  height: 80%;

    h1 {
      font-size: 4rem;
      padding: 10px;
    }

      nav {
        display: flex;
        flex-direction: row;
        padding: 0px 10px 0px 10px;
        @media @mobile {
          width: 80%;
        }

        a {
          text-decoration: none;
          padding: 10px;
          font-size: 15px;
          color: @river-bend;
          @media @mobile {
            font-size: 1.5rem;
            padding: 10px;
          }
    }
  }
}

